export(ReadAllNclampLogTables)
export(ReadIgorBinary)
export(ReadIgorPackedExperiment)
export(ReadNclampLogTable)
export(SummariseSweepFile)
export(SweepFilesToDataFrame)
export(UpdateSweepDataFrame)
export(WaveToTimeSeries)
export(tsp.igorwave)
